body{
  font-family: Serif, Monospace, sans-serif;
  font-size:15px;
  line-height:1.5;
  padding:0;
  background-color: #ffffff;
  margin:0;
}

/* .main */
.container{
  width:100%;
  margin:auto;
  overflow:hidden;
}

.navbar{
  width:100%;
  margin:auto;
  overflow:hidden;
  margin-bottom:5px;
}

::-webkit-scrollbar {
width: 2px;
overflow-y: hidden;
scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
background: #ffffff;
}

/*header background*/
  header{
    background:#000000;
    color:#ffffff;
    justify-content: center;
    border-bottom: #ffffff 2px solid;
    width:100%;
  }

/*menubar tabs*/
   header nav{
    margin:auto;
    width:100%;
  }

/*header links*/
  header a{
    color:#ffffff;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size:15px;
    cursor: grab;
    text-decoration: none;
  }

/*navbar content*/
  header li{
    display:inline-block;
    padding:15px;
    margin-top:5px;
  }

  header .highlight, header .current a{
    color:#D4AC0D;
    font-weight:bold;
  }

/*website brand name "The CN Network"*/
  header #branding{
    float:right;
    margin-right: 20px;
    display: inline-block;
  }

/*menubar hover*/
   header a:hover{
     color:#D2B48C;
     font-weight:bold;
   }

   h1{
     font-size: 48px;
     text-align: center;
     text-transform: capitalize;
     font-family: Arial;
   }

   p{
     text-align: center;
     font-size: 14px;
   }

   input{
     margin-bottom: 30px;
   }

   form. button {
       float: left;
       width: 20%;
       padding: 10px;
       background: #808080;
       color: white;
       font-size: 17px;
       border: 1px solid grey;
       border-left: none;
       cursor: pointer;
   }

 /*footer (all pages)*/
    #footer{
      padding:15px;
      color:#000000;
      background:#000000;
      border-top: #ffffff 2px solid;
      text-decoration: underline;
    }

/*footer "CN Web Design..."*/
  #footer p{
    border:none;
    text-align:center;
    color:#ffffff;
    font-size:12px;
    text-decoration: underline;
  }
